<link rel="stylesheet" href="/styles.css"
<h1 id="dashboard-header">Howdy, <%= @user.first_name %>!!!</h1>

<h2 id="dashboard-header">All TV Shows</h2>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Network</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.title %></td>
        <td><%= tv_show.network %></td>
        <td><%= tv_show.release_date %></td>
        <td>
          <a href="/shows/<%= tv_show.id %>">Show</a>

          <a href="/edit/<%= tv_show.id %>">Edit</a>

          <a href="/delete/<%= tv_show.id %>">Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<section>
  <form action="/search" method="post">
    <label for="search_query">Search a movie, TV show, or actor:</label>
    <input type="text" name="search_query" id="search_query" required>
    <button type="submit">Search</button>
  </form>
</section>

<a href="/new_show">Add a New Show</a>

<form id="dashboard-footer" action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
