<link rel="stylesheet" href="/styles.css"
<h1 id="edit-header">Edit <%= @show.title %></h1>

<% if @error_messages %>
  <p style="color: red;"><%= @error_messages.join('<br>') %></p>
<% end %>

<form id="edit-section" action="/edit/<%= @show.id %>" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" value="<%= @show.title %>" required minlength="3"><br>

  <label for="network">Network:</label>
  <input type="text" name="network" value="<%= @show.network %>" required minlength="3"><br>

  <label for="release_date">Release Date:</label>
  <input type="date" name="release_date" value="<%= @show.release_date %>" required><br>

  <label for="description">Description:</label>
  <textarea name="description" required minlength="3"><%= @show.description %></textarea><br>

  <input type="submit" value="Update">
</form>

<a href="/dashboard">TV Shows</a>

<form id="edit-footer" action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
