<h1><%= @show.title %></h1>

<p><strong>Network:</strong> <%= @show.network %></p>
<p><strong>Release Date:</strong> <%= @show.release_date %></p>
<p><strong>Description:</strong> <%= @show.description %></p>

<p>Posted by: <%= @user.first_name %> <%= @user.last_name %></p>

<a href="/dashboard">TV Shows</a>

<form action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
